* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    /* background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.library-container {
    background-color: saddlebrown;
    padding: 10px;
    border: 1px solid #ccc;
    /* border-radius: 30px; */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); */
    position: relative;
    /* overflow: hidden; */
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.book-shelf {
    background-color: green;
    border: 1px solid saddlebrown;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.book {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 120px;
    height: 170px;
    margin: 5px;
    border-radius: 3px;
}

.modal-container {
    position: absolute;
    background-color: #fff;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 300px;
    z-index: 1000;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    /* border-radius: 11px; */
}

.modal-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    /* border: 1px solid red; */
    height: 100%;
}

.modal-container input:not([type="checkbox"]) {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    outline: none;
    /* border-radius: 8px; */
    width: 100%;
}

.modal-container p {
    font-weight: 600;
    font-size: 17px;
}

.modal-container span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 9px 0;
}

.modal-container button{
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #333;
    padding: 5px 27px;
    /* border-radius: 8px; */
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.5px;
}